<!DOCTYPE html>
<html>
<head>
	<title>SGA Document Archive - Home</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../public/css/index.css">
</head>
<br>
<body style="background-image: url('../public/images/background.jpg'")>

<div class="container">
    <br>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-10"></div>
                <div class="col-md-1">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li>
                {{#if user}}
                    <p class="navbar-text">
                        <strong>Hi,</strong>
                        <img src="{{user.avatar}}" width="20" height="20">
                        {{user.username}}
                    </p>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/logout">Log Out</a>
                    </li>
                    <li>
                    <a href="/upload"><button style="margin-right: 20px" type="button" class="btn btn-default btn-md btn-block">Upload</button></a>
                {{else}}
                    <a href="/login"><button style="margin-right: 20px" type="button" class="btn btn-primary btn-md btn-block">Sign In</button></a>
                    </li>
                {{/if}}
            </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
            </div>
        </div>
    </nav>
    {{#if error}}
        <p class="alert alert-warning">{{error}}</p>
    {{/if}}

    {{#if success}}
        <p class="alert alert-success">{{success}}</p>
    {{/if}}

    {{#if notice}}
        <p class="alert alert-info">{{notice}}</p>
    {{/if}}

    <!--where our other templates will insert-->
    {{{body}}}
	<br>
    <!--
	<div class="header">
		<div class="row no-gutter">
			<div class="col-md-10"></div>
			<div class="col-md-1">
				<a href="/upload"><button style="margin-right: 20px" type="button" class="btn btn-default btn-md btn-block">Upload</button></a>
			</div>

			<div class="col-md-1">
				<a href="/login"><button style="margin-right: 20px" type="button" class="btn btn-primary btn-md btn-block">Sign In</button></a>
			</div>

		</div>

		<br><br>
	</div>
    -->

	<div class="search">
		<div class="row no-gutter">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<a href="/"><img src="../public/images/logo.jpg" alt="logo" id="logo"></a>
			</div>
			<div class="col-md-4"></div>
		</div>	
		<h3 style="font-weight: bold;">Georgia College Student Government Association</h3>
		<h3 style="font-style: italic;">Document Archive</h3>
		<br>
		<form ref="searchForm"
			  id="searchForm"
			  action="http://localhost:3000/search"
			  method="post"
			  enctype="form-data">
			<fieldset>
			<div class="row no-gutter">
				<div class="col-md-2"></div>
				<div class="col-md-4">
					<input type="text" class="form-control input-md input-block" name="searchText" id="search" placeholder="Enter your search query here..." required/>
				</div>
				<div class="col-md-2">
				<select id="filterSelect" name="filterSelect" class="input-md form-control">
				<option value="relevancy" selected>Most Relevant</option>
				<option value="recency">Most Recent</option>
				<option value="highest">Highest Dollar Amount</option>
				<option value="lowest">Lowest Dollar Amount</option>
				</select>
				</div>
				<div class="col-md-2">
					<button type="submit" name="searchBtn" class="btn btn-primary btn-block btn-md">Search</button>
				</div>
				<div class="col-md-2"></div>
			</div>
			</fieldset>
		</form>

		<div class="row no-gutter">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<p style="float: left"><a href="/advanced">Advanced Search</a></p>
			</div>
			<div class="col-md-2"></div>
		</div>

		<br>
	</div>
	<br>
	<br>
	<br>
<br>
	<hr>
	<br>
	<h2><center>Recent Uploads: </center></h2>

	
	<br>


	<div class="recent">
		{{#if items}}
	 	{{#each items}}

	 		<div class="row no-gutter"> 
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<h2>{{inc @index}}. {{this._id}}</h2>
					<span style="font-size: 1.2em; font-style: italic;">Date: {{this.date}}</span><br>


					<span style="font-weight: bold">{{this.tagline}}</span><br><br>
					<div class="panel-group">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" href="#collapse{{inc @index}}">Click here to see full text of {{this._id}}</a>
					      </h4>
					    </div>
					    <div id="collapse{{inc @index}}" class="panel-collapse collapse">
					      <div class="panel-body">{{this.text}}</div>
					    </div>
					  </div>
					</div>
					<a href="/download/{{this._id}}"><span style="display: inline; float: right">Download Original File</span></a>
				</div>
				<div class="col-md-2"></div>
			</div>
	 		
	 	{{/each}}
	 {{/if}}
	</div>


	<div class="footer">
	</div>
<br>
	<br>
	<br>
	<br>
</div>


<br>
</body>
</html>