<!DOCTYPE html>
<html>
<head>
    <title>SGA Document Archive - Login</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../public/css/login.css">
</head>

<body style="background-image: url('../public/images/background.jpg'")>
<br>
<div class="container">
    <br>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-10"></div>
                <div class="col-md-1">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    <li>
                        {{#if user}}
                            <p class="navbar-text">
                                <strong>Hi,</strong>
                                <img src="{{user.avatar}}" width="20" height="20">
                                {{user.username}}
                            </p>
                        </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/logout">Log Out</a>
                            </li>
                        <li>
                            <a href="/upload"><button style="margin-right: 20px" type="button" class="btn btn-default btn-md btn-block">Upload</button></a>
                        {{else}}
                            <a href="/login"><button style="margin-right: 20px" type="button" class="btn btn-primary btn-md btn-block">Sign In</button></a>
                        </li>
                        {{/if}}
                    </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </div>
        </div>
    </nav>
    {{#if error}}
        <p class="alert alert-warning">{{error}}</p>
    {{/if}}

    {{#if success}}
        <p class="alert alert-success">{{success}}</p>
    {{/if}}

    {{#if notice}}
        <p class="alert alert-info">{{notice}}</p>
    {{/if}}

    <!--where our other templates will insert-->
    {{{body}}}
    <!--
    <div class="menu">
        <a href="/upload"><button type="button" class="menuBtn btn btn-default btn-md btn-block">Upload</button></a>
        <a href="/login"><button type="button" class="menuBtn btn btn-primary btn-md btn-block">Sign In</button></a>
    </div>
    -->
    <div class="header">

        <div class="logo">
            <a href="/"><img style="margin-left: 8px" src="../public/images/logo.jpg" class="logo logoImg"></a>
        </div>

        <div class="search">


            <h2 style="font-weight: bold;">Georgia College<br></h2>
            <h3>Student Government Association</h3>
            <h4 style="font-style: italic; padding-top: 6px;">Document Archive</h4>

            <br>
            <form ref="searchForm"
                  id="searchForm"
                  action="http://localhost:3000/search"
                  method="post"
                  enctype="form-data">
                <fieldset>

                    <input type="text" class="form-control input-md" id="search" name="searchText"  placeholder="Enter your search query here..." required>

                    <select id="filterSelect" name="filterSelect" class="input-md form-control">
                        <option value="relevancy" selected>Most Relevant</option>
                        <option value="recency">Most Recent</option>
                        <option value="highest">Highest Dollar Amount</option>
                        <option value="lowest">Lowest Dollar Amount</option>
                    </select>
                    <button type="submit" name="searchBtn" class="btn btn-primary btn-md">Search</button><br><br>
                    <a href="/advanced">Advanced Search</a>
                    <br>
                </fieldset>
            </form>
        </div>


    </div>

    <div class="containerdivNewLine"></div>
    <br>
    <hr>
    <div class="jumbotron">
        <h1>Sign in</h1>
        <p>Please confirm you are an admin.</p>
        <p>
            <a data-toggle="collapse" href="#local" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-user"></span>Do you have an admin account?</a>

        </p>

        <div id="local" class="collapse">
            <a data-toggle="collapse" href="#local-sign-in" class="btn btn-default btn-md" role="button">Yes, I have an account.</a>
            <a href="/" class="btn btn-default btn-md" role="button">No, continue searching.</a>
        </div>

        <form id="local-sign-in" class="collapse" action="/login" method="post">
            <div>
                <p></p>
                <label>Username:</label>
                <input type="username" name="username"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>
            <div>
                <input type="submit" class="btn btn-primary btn-sm" value="Log In"/>
            </div>
        </form>
    </div>
</div>
</body>
<br>
</html>
